body{
  
  font-family: 'Nunito Sans', sans-serif;
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
  MARGIN: 0px;

}
.App{
  background-image: url('images/liberty.png');
}

.container{
  margin-left: 781px;
}

.selectLanguage{
  text-overflow: ellipsis;
  overflow: hidden;
}
.selectLanguage h1{
text-align: center;
letter-spacing: 0;
color: #007F8E;
text-transform: capitalize;
opacity: 1;
font-size: 70px;
}

.buttons{
  width: 490px;
}

.welcomeScreenBackground{
background-image: url('images/home-background.png');
width:1280px;
height:800px;
}

.welcomeItems{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 70px;
  
}

.welcomeItems img{
  padding: 5px 0px 5px 0px;
}
.selectLanguageButton{
  text-align: center;
  padding-top: 86px;
}

.title{
  margin: 0;
  
}