

.App{
  width:1280px;
  height:800px;
  background-image: url('images/liberty.png');
  font-family: 'Nunito Sans', sans-serif;
}

.container{
  margin-left: 781px;
}

.selectLanguage{
  top: 51px;
  margin-top: 10px;
  padding-top: 5px;
  
}
.selectLanguage h1{

text-align: center;
letter-spacing: 0;
color: #007F8E;
text-transform: capitalize;
opacity: 1;
font-size: 70px;
}

.buttons{
  width: 490px;
}

button{
  

}
/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
